:root {
    --AddTask: #27ae60;
    --Edit: #0984e3;
    --Delete: #d63031;
    --Sort: #f1c40f;
    --Light: #ecf0f1;
    --LightGrey: #bdc3c7;
    --Dark: #556173;
    --Border: #d3d3d3;
    --MoreDark: black;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-weight: 450;
}


/* Styling for the body section */
body {
    background-image: url("images/body-background.jpg");
    background-size: cover;
    padding: 5rem;
    width: 100%;
}

/* Style for the H1 heading */
h1 {
    display: block;
    width: 100%;
    font-size: 4rem;
    padding: 1rem;
    color: var(--Light);
    font-family: 'Poppins' sans-serif;
}

/* Style for the H3 heading */

h3 {
    display: block;
    width: 100%;
    font-size: 3rem;
    padding: 1rem;
    color: var(--Light);
    font-family: 'Poppins' sans-serif;
}

/* Style for the H2 heading */
h2 {
    display: block;
    width: 100%;
    font-size: 2rem;
    padding: 1rem;
    color: var(--Light);
    font-family: 'Poppins' sans-serif;
}

section {
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

/* Styling for calendar where user will select date entry */
#date {
    width: 30%;
    font-size: 1.125rem;
    color: var(--MoreDark);
    border-radius: 0.3rem;
    border-style: none;
    padding: 1rem;
    cursor: pointer;
}

/* Styling for the input where user will type their todo item */
.create-todo input[type="text"] {
    display: flex;
    width: 50%;
    font-size: 1.125rem;
    padding: 1rem;
    color: var(--Dark);
    border-radius: 0.3rem;
    border-style: none;
    margin-top: 1rem;
    margin-bottom: 3rem;
}


/* Styling for the Add Task Button */
.create-todo input[type="submit"] {
    width: 30%;
    font-size: 1.125rem;
    font-weight: 600;
    padding: 1rem;
    border-radius: 0.3rem;
    border-style: none;
    background-color: var(--AddTask);
    color: var(--Light);
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

input[type="radio"],
input[type="checkbox"] {
    display: none;
}

/* Style to make the Add Task Button enlarge & change opacity */
.create-todo input[type="submit"]:hover {
    opacity: 0.70;
    transform: scale(1.1);
}

/* Styling for the todo item to appear with a strike-through line */

.checkthrough {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    border-radius: 0.3rem;
    border: 2px solid --LightGrey;
    transition: 0.2s ease-in-out;
}

#input-content input {
    width: 50%;
}

.checkthrough::after {
    content: '';
    display: block;
    border-radius: 0.3rem;
    transition: 0.2s ease-in-out;
}

input:checked~.checkthrough::after {
    width: 10px;
    height: 10px;
    opacity: 1;
}

.todoList .list {
    margin: 1rem 0;
}

.todo-list .todo-item {
    display: flex;
    align-items: center;
    padding: 1rem;
    border-radius: 0.3rem;
    margin-bottom: 1rem;
}

.todo-item label {
    display: block;
    margin-right: 1rem;
    cursor: pointer;
}

.todo-item .todo-content {
    flex: 1 1 0%;
}

.todo-item .todo-date {
    flex: 1 1 0%;
}

.todo-item .todo-content input {
    font-size: 1.125rem;
}

.todo-item .actions {
    display: flex;
    align-items: center;
}

.todo-item .actions button {
    display: block;
    padding: 0.5rem;
    border-radius: 0.25rem;
    color: white;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.todo-item .actions button:hover {
    opacity: 0.75;
}

.todo-item .actions .edit {
    margin-right: 0.5rem;
    background-color: var(--Edit);
}

.todo-item .actions .delete {
    background-color: var(--Delete);
}

.todo-item.done .todo-content input {
    text-decoration: line-through;
    color: var(--Dark);
}

/* Styling for the Sort A-Z Button */
#alphabetically {
    width: 30%;
    font-size: 1.125rem;
    font-weight: 600;
    padding: 1rem;
    border-radius: 0.3rem;
    border-style: none;
    background-color: var(--Sort);
    color: var(--Light);
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

#alphabetically:hover {
    opacity: 0.70;
    transform: scale(1.1);
}